.BorderNumber {
     padding: 10px 10px;
     background-color: #fff;
     border: 1px solid lightgray;
     border-radius: 50%;
     margin-right: 10%;
     color: orange;
}
.Steps {
     display: flex;
     align-items: center;
     width: 500px;
}
